<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CreamXI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>label</key>
			<string>Airplane Color</string>
			<key>libcolorpicker</key>
			<dict>
				<key>alpha</key>
				<false/>
				<key>defaults</key>
				<string>com.rustybalboadevdev.creamxicolors</string>
				<key>fallback</key>
				<string>#FF0000</string>
				<key>key</key>
				<string>AirplaneColor</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>label</key>
			<string>Bluetooth Color</string>
			<key>libcolorpicker</key>
			<dict>
				<key>alpha</key>
				<false/>
				<key>defaults</key>
				<string>com.rustybalboadev.creamxicolors</string>
				<key>fallback</key>
				<string>#FF0000</string>
				<key>key</key>
				<string>BluetoothColor</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>label</key>
			<string>Hotspot Color</string>
			<key>libcolorpicker</key>
			<dict>
				<key>alpha</key>
				<false/>
				<key>defaults</key>
				<string>com.rustybalboadev.creamxicolors</string>
				<key>fallback</key>
				<string>#FF0000</string>
				<key>key</key>
				<string>HotspotColor</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>label</key>
			<string>WiFi Color</string>
			<key>libcolorpicker</key>
			<dict>
				<key>alpha</key>
				<false/>
				<key>defaults</key>
				<string>com.rustybalboadev.creamxicolors</string>
				<key>fallback</key>
				<string>#FF0000</string>
				<key>key</key>
				<string>WifiColor</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>label</key>
			<string>Airdrop Color</string>
			<key>libcolorpicker</key>
			<dict>
				<key>alpha</key>
				<false/>
				<key>defaults</key>
				<string>com.rustybalboadev.creamxicolors</string>
				<key>fallback</key>
				<string>#FF0000</string>
				<key>key</key>
				<string>AirdropColor</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>label</key>
			<string>Cellular Color</string>
			<key>libcolorpicker</key>
			<dict>
				<key>alpha</key>
				<false/>
				<key>defaults</key>
				<string>com.rustybalboadev.creamxicolors</string>
				<key>fallback</key>
				<string>#FF0000</string>
				<key>key</key>
				<string>CellularColor</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>A respring is necessary.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>twitterMethod</string>
			<key>label</key>
			<string>Follow Me On Twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>paypalMethod</string>
			<key>label</key>
			<string>Buy Me A Coffee</string>
		</dict>
	</array>
	<key>title</key>
	<string>CreamXI</string>
</dict>
</plist>
